.container{
    display: flex;
 
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    gap: 97px;
    margin-bottom: 178px;
    
}

.sub-title img{
    width: 635px;
    height: 800px;
    padding-right: 240px;
    padding-top: 50px;
}

.banner-h{
    font-weight: 800;
    font-size: 80px;
    color: hsla(0,0%,15%,1);
    padding-left: 240px;
    padding-top: 50px;
    
}

.banner-p{
    color: hsla(0,0%,15%,0.6);
    font-weight: 400;
    font-size: 18px;
    padding-top: 32px;
    padding-left: 240px;
}

.banner-btn{
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 52px;
    margin-left: 240px;
    margin-bottom: 147px;
    border: none;
    color: white;

}

.none{
    display: none;
}
/*strt Our Featured Flowers */



/* end Our Featured Flowers */






/* 
responsive banner strt */
@media screen and (max-width:576px) {
   .container{
  flex-direction: column;
  height: 1500px;
  margin-bottom: 20px;
   }
   .banner-h{
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 50px;
   }
   .banner-p{
    padding-left: 50px;
   }
   .banner-btn{
    margin-left: 50px;
    margin-bottom: 20px;
   }
   .sub-title img{
    width: 300px;
    padding-right: 0px;
    padding-left: 30px;
   }
}
     
/* responsive banner end */