.container{
    display: flex;
 
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    gap: 97px;
    
}

.sub-title img{
    width: 635px;
    height: 800px;
    padding-right: 240px;
    padding-top: 50px;
}

.banner-h{
    font-weight: 800;
    font-size: 80px;
    color: hsla(0,0%,15%,1);
    padding-left: 240px;
    padding-top: 50px;
    
}

.banner-p{
    color: hsla(0,0%,15%,0.6);
    font-weight: 400;
    font-size: 18px;
    padding-top: 32px;
    padding-left: 240px;
}

.banner-btn{
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 52px;
    margin-left: 240px;
    margin-bottom: 147px;
    border: none;
    color: white;

}



/* 
responsive banner strt */
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
        height: 1570px;
       
      
    }

    .banner-h{
        padding-left: 50px;
        font-weight: 500;
        font-size: 40px;
    }
    .banner-p{
        padding-left: 50px;
        width: 200px;
    }
    .banner-btn{
        margin-left: 50px;
        margin-bottom: 20px;
    }
   .sub-title img{
    width: 400px;
    padding-left: 3rem;
    padding-right: 0px;

   }
}
/* responsive banner end */